VITE_API_URL="http://localhost:8080"

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=vocadb
MYSQL_USER=admin
MYSQL_PASSWORD=admin

JWT_SECRET=4thaQ9eIo2Qpv1DIbNJQ0aKx110ApEV1/SLzIAIaHU+8IbWeid/UEoFeM04O2PLCZjQbs6Osaepg5w9vhsYVLQ==